/* Add CSS Styling */
.class{
    font-size: 20px;
    background-color:pink;
}
#id{
    font-size: 40px;
 color: blue;
}
.class_1{
    font-size: 25px;
    background-color:pink;
}
#id_1{
    font-size: 30px;
    background-color: green;
}
.class_2{
    font-size: 27px;
    color: palevioletred;
}